@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet Landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop


/*
$breakpoint argument choices:
--phone
--tab-port
--tab-land
--big-desktop
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: #333;
  font-size: 98%;
  font-family: "Lato", sans-serif;
}
@media (max-width: 37.5em) {
  * {
    font-size: 97% !important;
  }
}
@media (max-width: 75em) {
  * {
    font-size: 97%;
  }
}
@media (max-width: 56.25em) {
  * {
    font-size: 96%;
  }
}
@media (min-wdith: 112.5em) {
  * {
    font-size: 100%;
  }
}
* body {
  box-sizing: border-box;
}
* h1 {
  font-size: 1.75rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
}
* h2 {
  letter-spacing: 3%;
  font-size: 1.125rem;
  line-height: 2.4375rem;
  letter-spacing: -0.04em;
}
* h3 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  padding: 0.25rem 0.125rem;
  margin: 0 0 0.9375rem 0;
  width: 20%;
}
* h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #7e22ce;
  margin: 0;
}
* h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #7e22ce;
}
* h6 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #7e22ce;
}
* p {
  font-family: "Lato", sans-serif;
  line-height: 0.9375rem;
  color: #08112f;
}
* li {
  list-style-type: none;
}
* a {
  font-size: 1rem;
  text-decoration: none;
}
* label {
  font-size: 1rem;
  font-weight: 600;
  color: #08112f;
}
* .btn-ct {
  width: 80%;
  min-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .btn {
  padding: 0.625rem 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 700;
  background-color: #0fb60c;
}
* .btn:hover {
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.08);
}

textarea {
  resize: none;
  border-radius: 3.125rem;
  padding-left: 1.6rem;
  padding-top: 1rem;
  border: none;
}

svg {
  cursor: pointer;
}

.container {
  min-height: 100vh;
}

@keyframes slidefrombottom {
  0% {
    transform: translateY(0.9375rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slidein {
  from {
    transform: translateX(-37.5rem);
  }
  to {
    transform: translate(0);
  }
}
@keyframes slideout {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-37.5rem);
  }
}
.cardShadow {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

@media (max-width: 37.5em) {
  nav {
    width: 70% !important;
    position: absolute;
    transform: translateX(-37.5rem);
  }
}
nav .icon {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.25rem;
  align-items: center;
  height: 10%;
  visibility: hidden;
}
nav .icon .img {
  cursor: pointer;
}
@media (max-width: 37.5em) {
  nav .icon {
    position: absolute;
    cursor: pointer;
    visibility: visible;
    left: 4rem;
    top: 4rem;
    cursor: pointer !important;
  }
}
nav .nav-link-ct {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (max-width: 37.5em) {
  nav .nav-link-ct {
    width: 100%;
    height: 100vh;
  }
}
nav .nav-link-ct li {
  list-style: none;
}
nav .nav-link-ct li a {
  display: flex;
  color: white;
  font-size: 0.9375rem;
  height: 2.4375rem;
  padding: 2.5rem 2.75rem;
  align-items: center;
}
nav .nav-link-ct li a img {
  padding: 0 1.25rem;
}
nav .nav-link-ct li a:hover {
  background-color: #54009e;
}

.registerpopup {
  width: 100%;
  height: 100vh;
  background: rgba(195, 197, 204, 0.97);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerpopup .popup-ct {
  width: 50%;
  min-height: 70%;
  background: white;
  display: flex;
  flex-direction: column;
}
@media (max-width: 37.5em) {
  .registerpopup .popup-ct {
    width: 90%;
  }
}
.registerpopup .popup-ct .popup-heading {
  height: 30%;
  background-color: #54009e;
  display: flex;
  align-items: center;
  padding: 0 2%;
  justify-content: space-between;
}
.registerpopup .popup-ct .popup-heading h6 {
  color: white;
}
.registerpopup .popup-ct .popup-heading a {
  display: flex;
  justify-content: flex-end;
}
.registerpopup .popup-ct .popup-heading a img {
  width: 15%;
  align-self: flex-end;
  padding: 2rem 0;
}
.registerpopup .popup-ct h2 {
  margin-top: 0.625rem;
  padding: 0 1rem;
  border-bottom: 0.125rem solid #c3c5cc;
}
.registerpopup .popup-ct .second {
  border-bottom: 0.1875rem solid #c3c5cc;
  margin: 0 0 1rem 0;
}
.registerpopup .popup-ct input[type=text] {
  margin-top: 0.625rem;
  padding: 0.625rem 0 0 0.125rem;
}
.registerpopup .popup-ct input[type=file] {
  margin-top: 0.625rem;
  padding: 0.3125rem 0 0 0.125rem;
  border: none !important;
}
.registerpopup .popup-ct input[type=submit] {
  margin-top: 0.625rem;
  padding: 0.625rem;
  color: white;
  border: none !important;
  background: #54009e;
}
.registerpopup .btn-ct {
  width: 100%;
}
.registerpopup .btn {
  background-color: #f45110;
}

.iconct {
  display: flex;
  width: 75%;
  justify-content: flex-end;
}
.iconct img {
  width: 20%;
}

.cardoffice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgba(195, 197, 204, 0.97);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardoffice .imagect {
  width: 50%;
  height: 60%;
  background: white;
  border-radius: 0.625rem;
  background-image: url("/assets/cardready.svg");
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.forwarddate {
  width: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.625rem;
}
.forwarddate h3 {
  width: 100%;
  text-align: center;
}

.dashboardflex-ct {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}
@media (max-width: 37.5em) {
  .dashboardflex-ct {
    height: 100%;
  }
}
.dashboardflex-ct nav {
  width: 20%;
  background-color: #7e22ce;
}
@media (max-width: 37.5em) {
  .dashboardflex-ct nav {
    width: 100vh;
    min-height: 100vh;
    display: flex;
    position: absolute;
    z-index: 1;
  }
}
.dashboardflex-ct .maindashboard-ct {
  width: 80%;
}
@media (max-width: 37.5em) {
  .dashboardflex-ct .maindashboard-ct {
    width: 100%;
  }
}

.dashboardgrid {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% 40% 30% 10%;
  grid-template-areas: "head head" "acc det" "csinfo det" "btn det";
  grid-row-gap: 1.25rem;
  grid-column-gap: 0.9375rem;
  padding: 2% 5%;
}
@media (max-width: 37.5em) {
  .dashboardgrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column-gap: 0.9375rem;
  }
}

.studD-content {
  display: grid;
  padding: 2% 5%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.5625rem repeat(7, 3.4375rem);
  grid-template-areas: "one one one" "two three four" "five six seven" "eight nine ten" "eleven twelve twelve" "thirteen thirteen thirteen" "fourteen fifteen fifteen" "sixteen seventeen seventeen";
  gap: 0.3125rem;
}
@media (max-width: 37.5em) {
  .studD-content {
    display: grid;
    height: 100%;
    padding: 2% 5%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1.5625rem repeat(8, 3.125rem);
    grid-template-areas: "one one" "two three" "four five" "six seven" "eight nine" "ten eleven" "twelve thirteen" "fourteen fifteen" "sixteen seventeen";
  }
}
.studD-content div {
  display: flex;
  flex-direction: column;
}
.studD-content div .item-ct1 {
  height: 50%;
  display: flex;
  justify-content: center;
}
.studD-content div .item-ct1 h6 {
  font-size: 0.8125rem;
  color: #08112f;
}
.studD-content div .item-ct2 {
  height: 50%;
  font-size: 0.75rem;
}
.studD-content div .item-ct2 p {
  font-family: "Lato", sans-serif;
}
.studD-content .grid-item-1 {
  grid-area: one;
  display: flex;
  align-items: flex-start;
}
.studD-content .grid-item-2 {
  grid-area: two;
}
.studD-content .grid-item-3 {
  grid-area: three;
}
.studD-content .grid-item-4 {
  grid-area: four;
}
.studD-content .grid-item-5 {
  grid-area: five;
}
.studD-content .grid-item-6 {
  grid-area: six;
}
.studD-content .grid-item-7 {
  grid-area: seven;
}
.studD-content .grid-item-8 {
  grid-area: eight;
}
.studD-content .grid-item-9 {
  grid-area: nine;
}
.studD-content .grid-item-10 {
  grid-area: ten;
}
.studD-content .grid-item-11 {
  grid-area: eleven;
}
.studD-content .grid-item-12 {
  grid-area: twelve;
}
.studD-content .grid-item-13 {
  grid-area: thirteen;
}
.studD-content .grid-item-14 {
  grid-area: fourteen;
}
.studD-content .grid-item-15 {
  grid-area: fifteen;
}
.studD-content .grid-item-16 {
  grid-area: sixteen;
}
.studD-content .grid-item-17 {
  grid-area: seventeen;
}

.courseinfo {
  display: grid;
  grid-template-columns: 47.5% 5% 47.5%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "one two three" "four two five" "six six six";
}
.courseinfo .ci-1 {
  grid-area: one;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 55% 45%;
  grid-template-areas: "one one" "two three";
}
.courseinfo .coursei-1 {
  grid-area: one;
  padding-left: 20%;
  display: flex;
  align-items: flex-end;
}
.courseinfo .coursei-1 h6 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #08112f;
}
.courseinfo .coursei-2 {
  grid-area: two;
}
.courseinfo .coursei-3 {
  grid-area: three;
}
.courseinfo .ci-2 {
  grid-area: two;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.8rem;
}
.courseinfo .ci-2 hr {
  height: 80%;
  border: 0.0625rem solid #c3c5cc;
  width: 0.0625rem;
}
.courseinfo .ci-3 {
  grid-area: three;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 55% 45%;
  grid-template-areas: "one one" "two three";
}
.courseinfo .ci-4 {
  grid-area: four;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 55% 45%;
  grid-template-areas: "one one" "two three";
}
.courseinfo .ci-5 {
  grid-area: five;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 55% 45%;
  grid-template-areas: "one one" "two three";
}
.courseinfo .ci-6 {
  grid-area: six;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 55% 45%;
  grid-template-areas: "one one" "two three";
}
.courseinfo .ci-6 .coursei-1 {
  padding-left: 10%;
}

.studentAcc {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 13% 87%;
  grid-template-areas: "one one" "two three";
}
@media (max-width: 37.5em) {
  .studentAcc {
    display: flex;
    flex-direction: column;
  }
}
.studentAcc .stAcc-heading {
  grid-area: one;
  padding-left: 10%;
  display: flex;
  align-items: center;
}
.studentAcc .stAcc-heading h5 {
  border-bottom: 0.125rem solid #7e22ce;
  padding-bottom: 0.25rem;
}
@media (max-width: 37.5em) {
  .studentAcc .stAcc-heading {
    display: flex;
    flex-direction: column;
  }
}
.studentAcc .stAcc-graph {
  grid-area: two;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media (max-width: 37.5em) {
  .studentAcc .stAcc-graph {
    display: flex;
    flex-direction: column;
  }
}
.studentAcc .stAcc-graph .canvas-ct {
  display: flex;
  height: 100%;
  width: 75%;
}
@media (max-width: 37.5em) {
  .studentAcc .stAcc-graph .canvas-ct {
    display: flex;
  }
}
.studentAcc .stAcc-info {
  grid-area: three;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 37.5em) {
  .studentAcc .stAcc-info {
    display: flex;
    flex-direction: column;
  }
}
.studentAcc .stAcc-info .fee-item {
  padding: 0.1rem;
  width: 100%;
  min-height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 37.5em) {
  .studentAcc .stAcc-info .fee-item {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem;
    border-bottom: 0.0625rem solid #c3c5cc;
    padding: 0.5rem 0;
  }
}
.studentAcc .stAcc-info .fee-item h6 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
}
.studentAcc .stAcc-info .fee-item h6 span {
  color: #7e22ce;
  font-family: "Poppins", sans-serif;
}
.studentAcc .stAcc-info .fee-item p {
  font-weight: 600;
}
.studentAcc .stAcc-info .eligiblefees-ct h6 {
  color: #0fb60c;
}
.studentAcc .stAcc-info .eligiblefees-ct h6 span {
  color: #0fb60c;
}
.studentAcc .stAcc-info .eligiblefees-ct p {
  color: #0fb60c;
}
.studentAcc .stAcc-info .eligiblefees-ct .ineligible {
  color: #f41010 !important;
}
.studentAcc .stAcc-info .noteligiblefees-ct {
  height: 30%;
}
.studentAcc .stAcc-info .noteligiblefees-ct .np-heading {
  padding: 0.125rem;
}
.studentAcc .stAcc-info .noteligiblefees-ct .np-heading p {
  font-weight: 400;
  font-size: 0.8125rem;
}
.studentAcc .stAcc-info .noteligiblefees-ct .np-heading p span {
  color: #f41010;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-wdith: 112.5em) {
  .login-container {
    border: 5px solid green;
  }
}
.login-container .login-container--inner {
  width: 70%;
  height: 70%;
  display: flex;
}
@media (max-width: 37.5em) {
  .login-container .login-container--inner {
    height: 60%;
    width: 100%;
  }
}
.login-container .login-container--inner .graduate-img-ct {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (max-width: 37.5em) {
  .login-container .login-container--inner .graduate-img-ct {
    width: 20%;
  }
}
@media (max-width: 25em) {
  .login-container .login-container--inner .graduate-img-ct {
    width: 15%;
  }
}
.login-container .login-container--inner .graduate-img-ct img {
  width: 16.25rem;
  position: relative;
  left: 6.875rem;
  z-index: 2;
}
@media (max-width: 37.5em) {
  .login-container .login-container--inner .graduate-img-ct img {
    width: 12.5rem;
    left: 5rem;
  }
}
@media (max-width: 25em) {
  .login-container .login-container--inner .graduate-img-ct img {
    width: 13.125rem;
    left: 4.375rem;
  }
}
.login-container .login-container--inner .form-ct {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
}
@media (max-width: 37.5em) {
  .login-container .login-container--inner .form-ct {
    width: 90%;
  }
}
.login-container .login-container--inner .form-ct .form-img-ct {
  height: 20%;
  display: flex;
  align-items: flex-end;
  padding-left: 18%;
}
.login-container .login-container--inner .form-ct .form-img-ct img {
  width: 40%;
}
.login-container .login-container--inner .form-ct form {
  height: 75%;
  padding-top: 1.5rem;
  padding-left: 10%;
}
.login-container .login-container--inner .form-ct form .heading-ct {
  padding-left: 10%;
}
.login-container .login-container--inner .form-ct form .input-ct {
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  width: 80%;
  gap: 1rem;
  justify-content: space-between;
}
.login-container .login-container--inner .form-ct form .input-ct .username-ct,
.login-container .login-container--inner .form-ct form .input-ct .password-ct {
  display: flex;
  flex-direction: column;
  min-height: 20% !important;
}
.login-container .login-container--inner .form-ct form .btn-ct {
  padding-left: 10%;
}
.login-container .login-container--inner .form-ct form .btn-ct .btn {
  background-color: #7e22ce;
}
.login-container .login-container--inner .form-ct .form-footer {
  background-color: #7e22ce;
  min-height: 5%;
  transform: translateY(1.8125rem);
  opacity: 0;
  animation: slidefrombottom 0.5s ease-in forwards;
}

body {
  background-color: #f6f8fa;
}

.welcome {
  grid-area: head;
  display: flex;
  width: 100%;
}
@media (max-width: 37.5em) {
  .welcome {
    width: 100%;
  }
}
.welcome .congrats-container {
  width: 80%;
  display: flex;
}
@media (max-width: 37.5em) {
  .welcome .congrats-container {
    width: 75%;
    display: flex;
    justify-content: flex-start;
  }
}
.welcome .congrats-container .congrats-container-ct {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 37.5em) {
  .welcome .congrats-container .congrats-container-ct {
    justify-content: space-evenly;
  }
}
.welcome .congrats-container .congrats-container-ct .nav-open img {
  display: none;
}
@media (max-width: 37.5em) {
  .welcome .congrats-container .congrats-container-ct .nav-open img {
    display: block;
  }
}
.welcome .congrats-container .congrats-container-ct .cg-img-ct {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  align-items: center;
}
.welcome .congrats-container .congrats-container-ct .cg-img-ct img {
  width: 60%;
}
@media (max-width: 37.5em) {
  .welcome .congrats-container .congrats-container-ct .cg-img-ct img {
    width: 100%;
    justify-self: self-end;
  }
}
.welcome .congrats-container .congrats-container-ct h4 {
  font-family: "Marck Script", cursive;
  padding: 0.4rem;
}
@media (max-width: 37.5em) {
  .welcome .congrats-container .congrats-container-ct h4 {
    display: none;
  }
}
.welcome .congrats-container .congrats-container-ct .welcomemess {
  font-family: "Lato", sans-serif;
  color: #08112f;
  font-weight: 500;
}
.welcome .studentimagedropdown {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.welcome .studentimagedropdown .stu-img-dpdwn-ct {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  width: 46%;
  gap: 0.7rem;
}
@media (max-width: 37.5em) {
  .welcome .studentimagedropdown .stu-img-dpdwn-ct {
    width: 50%;
  }
}
.welcome .studentimagedropdown .stu-img-dpdwn-ct .student-img-ct {
  width: 2.5rem;
  height: 70%;
  border-radius: 312.5rem;
  display: flex;
}
@media (max-width: 37.5em) {
  .welcome .studentimagedropdown .stu-img-dpdwn-ct .student-img-ct {
    height: 60%;
  }
}
.welcome .studentimagedropdown .stu-img-dpdwn-ct .dropdown-ct {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 33.75rem;
}
.welcome .studentimagedropdown .stu-img-dpdwn-ct .dropdown-ct .signout {
  width: 7.5%;
  text-align: center;
  position: absolute;
  padding: 0rem 2rem;
  top: 5.8rem;
  right: 4.3rem;
  background-color: white;
  padding: 0.5rem 0rem;
}
@media (max-width: 37.5em) {
  .welcome .studentimagedropdown .stu-img-dpdwn-ct .dropdown-ct .signout {
    top: 4rem;
    right: 1.3rem;
    width: 20%;
  }
}

.studentAcc {
  grid-area: acc;
}

.studD {
  grid-area: det;
}
@media (max-width: 37.5em) {
  .studD {
    min-height: 35rem;
  }
}
.studD .studD-heading {
  height: 6%;
  background-color: #7e22ce;
  display: flex;
  justify-content: center;
  align-items: center;
}
.studD .studD-heading h4 {
  color: white;
  font-size: 1.125rem;
}
.studD .studD-content {
  height: 85%;
}
.studD .studD-upload {
  height: 10%;
}

.courseinfo {
  grid-area: csinfo;
}

.button {
  grid-area: btn;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.button .imageinput {
  height: 50%;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}
.button .imageinput label {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 200;
  padding: 0rem 2rem;
  background-color: #7e22ce;
}
.button .imageinput span {
  border: 1px solid red;
  width: 60%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button .btn {
  background-color: #0fb60c;
  width: 100%;
}

.paymentpopup {
  background-color: rgba(224, 224, 224, 0.968627451);
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  right: 0%;
  margin-left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 37.5em) {
  .paymentpopup {
    display: absolute;
    right: 0%;
    width: 100%;
  }
}
.paymentpopup .amount-ct {
  width: 25%;
  min-height: 40%;
}
@media (max-width: 37.5em) {
  .paymentpopup .amount-ct {
    width: 80%;
  }
}
.paymentpopup .amount-ct .amountone {
  min-height: 25%;
  background-color: #54009e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.paymentpopup .amount-ct .amountone h6 {
  color: white;
}
.paymentpopup .amount-ct .amountone a {
  color: white;
  font-weight: 700;
  padding: 0.4375rem 0.625rem;
  border-radius: 100%;
  color: #7e22ce;
  background-color: white;
}
.paymentpopup .amount-ct .amounttwo {
  min-height: 60%;
  border: 1px solid #54009e;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2% 4%;
}
.paymentpopup .amount-ct .amounttwo label {
  margin-bottom: 0.6rem;
}
.paymentpopup .amount-ct .amounttwo input[type=number] {
  padding: 0.7rem 0;
}
.paymentpopup .amount-ct .amounttwo input {
  margin-bottom: 0.5rem;
}

.loadinganimation {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-color: #54009e;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.loadinganimation .loading {
  width: 2rem;
  height: 2rem;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-radius: 100%;
  margin: auto;
  visibility: auto;
  animation: spin 0.4s infinite linear;
}

input::-webkit-file-upload-button {
  border: 1px solid red;
}

.display-active {
  display: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.new {
  padding: 1.25rem;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*# sourceMappingURL=main.css.map */
