@use '../abstracts/variables.scss' as *;
@use '../base/typography.scss' as *;
@use '../abstracts/functions.scss' as *;
@use '../abstracts/mixins.scss' as *;

@keyframes slidefrombottom {
  0% {
    transform: translateY(rem(15));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slidein {
  from {
    transform: translateX(rem(-600));
  }
  to {
    transform: translate(0);
  }
}
@keyframes slideout {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(rem(-600));
  }
}
