@use "../abstracts/variables.scss" as *;
@use "../base/typography.scss" as *;
@use "../abstracts/functions.scss" as *;
@use "../abstracts/mixins.scss" as *;

.studD-content {
  display: grid;
  padding: 2% 5%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: rem(25) repeat(7, rem(85));
  grid-template-areas:
    "one one one"
    "two three four"
    "five six seven"
    "eight nine ten"
    "eleven twelve twelve"
    "thirteen thirteen thirteen"
    "fourteen fifteen fifteen"
    "sixteen seventeen seventeen";
  gap: rem(5);
  @include respond(phone) {
    display: grid;
    height: 100%;
    padding: 2% 5%;
    grid-template-columns: 40% 60%;
    grid-template-rows: rem(25) repeat(8, rem(50));
    grid-template-areas:
      "one one"
      "two three"
      "four five"
      "six seven"
      "eight nine"
      "ten eleven"
      "twelve thirteen"
      "fourteen fifteen"
      "sixteen seventeen";
  }

  div {
    display: flex;
    flex-direction: column;

    .item-ct1 {
      height: 50%;
      display: flex;
      justify-content: center;

      h6 {
        font-size: rem(13);
        color: $dark;
      }
    }

    .item-ct2 {
      height: 50%;
      font-size: rem(12);
      p {
        font-family: $primaryFont;
      }
    }
  }

  .grid-item-1 {
    grid-area: one;
    display: flex;
    align-items: flex-start;
  }

  .grid-item-2 {
    grid-area: two;
  }

  .grid-item-3 {
    grid-area: three;
  }

  .grid-item-4 {
    grid-area: four;
  }

  .grid-item-5 {
    grid-area: five;
  }

  .grid-item-6 {
    grid-area: six;
  }

  .grid-item-7 {
    grid-area: seven;
  }

  .grid-item-8 {
    grid-area: eight;
  }

  .grid-item-9 {
    grid-area: nine;
  }

  .grid-item-10 {
    grid-area: ten;
  }

  .grid-item-11 {
    grid-area: eleven;
  }

  .grid-item-12 {
    grid-area: twelve;
  }

  .grid-item-13 {
    grid-area: thirteen;
  }

  .grid-item-14 {
    grid-area: fourteen;
  }

  .grid-item-15 {
    grid-area: fifteen;
  }

  .grid-item-16 {
    grid-area: sixteen;
  }

  .grid-item-17 {
    grid-area: seventeen;
  }
}
