//fonts
$primaryFont: "Raleway", sans-serif;
$poppinsFont: "Poppins", sans-serif;
$markScript: "Marck Script", cursive;
$p-color: #08112f;

//colors
$dark: #08112f;
$danger: #f41010;
$success: #0fb60c;
$secondary: #f5733f;
$blue: #13266a;
$bg-light: #f6f8fa;
$bg-primary: #13266a;
$primary-orange: #f45110;
$ui-gray: #04091d;
$ui-gray-2: #c3c5cc;
$ui-blue-1: #596bab;
$ui-modal-bg: rgba(195, 197, 204, 0.97);
